.to_article {
    font-weight: bold;
  }
  h3 {
    font-size: 120%;
  }
  article {
    font-size: 120%;
  }
  #content {
    text-align: center;
  }
  .back_main {
    font-style: italic;
  }
  #autoBiography {
    text-align: center;
    font-size: 22px;
  }
  .up {
    margin-top: 50px;
    text-transform: uppercase;
  }
  ul {
    display: flex;
    list-style: none;
  }
  li > a:active {
    background-color: yellow;
}
  a {
    text-decoration: none;
    margin: 5px 10px;
    padding: 10px 5px;
    color: blue;
    background-color: aqua;
    border: 1px solid black;
  }
  a:hover {
    transition: 0.1s linear;
    background-color: magenta;
    color: white;
    cursor: pointer;
  }
  /* пишу через id бо вони вже були */
  #base_inf > p {
    background-color: red;
    color: cyan;
  }
  #childhood > p {
    background-color: blue;
    color: darkseagreen;
  }
  #school_years > p {
    background-color: purple;
    color: aqua;
  }
  #outside_school > p {
    background-color: yellow;
    color: black;
  }
  #university > p {
    background-color: black;
    color: white;
  }