h1 {
    text-align: center;
    font-size: 20px;
}
a {
    font-style: italic;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
.q {
    font-size: 14px;
}
.w {
    font-size: 26px;
}
.e {
    font-size: 33.8px;
}
img {
    display: block;
    margin: 0 auto;
}